<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.docmall.mapper.MemberMapper">

	<select id="idCheck" parameterType="string" resultType="string">
	
		select mbsp_id from mbsp_tbl where mbsp_id = #{mbsp_id}
	
	</select>
	
	<insert id="join" parameterType="com.docmall.domain.MemberVO">
	
		insert into mbsp_tbl(mbsp_id, mbsp_name, mbsp_email, mbsp_password, mbsp_zipcode, mbsp_addr, mbsp_deaddr, mbsp_phone, mbsp_nick)
		values(#{mbsp_id},#{mbsp_name},#{mbsp_email},#{mbsp_password},#{mbsp_zipcode},#{mbsp_addr}, #{mbsp_deaddr}, #{mbsp_phone},#{mbsp_nick})
	
	</insert>
	
	<select id="login" parameterType="string" resultType="com.docmall.domain.MemberVO">
	
		select
			mbsp_id, mbsp_name, mbsp_email, mbsp_password, mbsp_zipcode, mbsp_addr, mbsp_deaddr, mbsp_phone, mbsp_nick, mbsp_receive, mbsp_point, mbsp_lastlogin, mbsp_datesub, mbsp_updatedate
		from
			mbsp_tbl
		where
			mbsp_id = #{mbsp_id}			
	
	</select>
	
	<update id="modify" parameterType="com.docmall.domain.MemberVO">
	
		update 
			mbsp_tbl
		set
			mbsp_name = #{mbsp_name}, mbsp_email = #{mbsp_email}, mbsp_zipcode = #{mbsp_zipcode}, mbsp_addr = #{mbsp_addr}, mbsp_deaddr = #{mbsp_deaddr}, mbsp_phone = #{mbsp_phone}, mbsp_nick = #{mbsp_nick}, mbsp_updatedate = sysdate
		where
			mbsp_id = #{mbsp_id}
	</update>
	
	<update id="pwchange">
	
		update 
			mbsp_tbl
		set
			mbsp_password = #{new_mbsp_password}
		where
			mbsp_id = #{mbsp_id}
	
	</update>
	
	<update id="now_visit">
		
		update 
			mbsp_tbl
		set
			mbsp_lastlogin = sysdate
		where
			mbsp_id = #{mbsp_id}	
	</update>
	
	<delete id="delete">
	
		delete 
			mbsp_tbl
		where
			mbsp_id = #{mbsp_id}
	</delete>

</mapper>  